<div class="container">
  <div class="row">
    {{#if create}}
    <form class="card-login" action="/note/new" method="POST" autocomplete="off" style='margin-top:20px'>
      <h4 align='center'>Crear Nota</h4>
      <label for="title" class='form-label'>Titulo:</label>
      <input type="text" id="title" name="title" class='form-item' placeholder="Titulo">
      <p></p>
      <label for="description" class='form-label'>Descripcion (breve):</label>
      <input type="text" id="description" name="description" class='form-item' placeholder="Descripcion (breve)">
      <div class="">
        <button type="submit" class="btn pink">
          <i class="bi-tast-plus"></i>
          <strong>Crear</strong>
        </button>
      </div>
    </form>
    {{/if}}

    {{#if note_pag}}
      {{#if note}}
        {{#each note}}
          <div class="card col s12 m4">
            <div class="card-content">
              <h4>{{this.title}}</h4>
              <p>{{this.description}}</p>
              <div class="row">
                <div class="col s6">
                  <form action="/note/delete/{{this._id}}" method="post">
                    <button type="submit" class="col s12 btn red"></button>
                  </form>
                </div>
                <div class="col s6">
                  <a href="/note/update/{{this._id}}" class='btn green col s12'></a>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      {{else}}
        <div class="col s12 m3"></div>
        <div class="card col s12 m6">
          <div class="card-content" align='center'>
            <h6>No tienes notas, <a href="/note/create">Crear nota</a></h6>
          </div>
        </div>
        <div class="col s12 m3"></div>
      {{/if}}
    {{/if}}

    {{#if update}}
      <form class="card-login" action="/note" method="POST" autocomplete="off" style='margin-top:20px'>
        <input type="hidden" name="id" value="{{update_values._id}}">
        <h4 align='center'>Crear Nota</h4>
        <label for="title" class='form-label'>Titulo:</label>
        <input type="text" id="title" name="title" class='form-item' placeholder="Titulo" value='{{update_values.title}}'>
        <p></p>
        <label for="description" class='form-label'>Descripcion (breve):</label>
        <input type="text" id="description" name="description" class='form-item' placeholder="Descripcion (breve)" value='{{update_values.description}}'>
        <div class="">
          <button type="submit" class="btn pink">
            <i class="bi-tast-plus"></i>
            <strong>Actualizar</strong>
          </button>
        </div>
      </form>
    {{/if}}
  </div>
</div>
